<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat rem autem necessitatibus repellendus quae iusto numquam suscipit vero modi sequi?</p>
    </div>
</section>