<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app NodeJs and mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, dignissimos numquam perspiciatis aliquam quaerat magnam.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eligendi esse consequatur perferendis eveniet! Reiciendis voluptatibus porro magni commodi animi!</p>
    <a href="https://www.faxtweb.com" class="btn btn-primary">FaztWeb</a>
</div>